{% extends 'base.html' %}

{% block content %}
<h1>{{ product.title }}</h1>

<div class="gallery_photo">
    {% if product.image1 %}
      <img class="slide active" src="{{ product.image1.url }}">
    {% endif %}

    {% if product.image2 %}
      <img class="slide" src="{{ product.image2.url }}">
    {% endif %}

    {% if product.image3 %}
      <img class="slide" src="{{ product.image3.url }}">
    {% endif %}

    {% if product.image4 %}
      <img class="slide" src="{{ product.image4.url }}">
    {% endif %}

    {% if product.image5 %}
      <img class="slide" src="{{ product.image5.url }}">
    {% endif %}

</div>

<p>{{ product.description }}</p>
<p>Ціна: {{ product.price }} грн</p>
<p>Характеристика: {{ product.specs }}</p>
<p>Догляд: {{ product.care }}</p>

<a href="{% url 'add_to_cart' product.id %}" class="cart-btn">
    ДОДАТИ В КОШИК
</a>


{% endblock %}